@import './task-cell-day.css';
@import './task-day.css';
@import './day-selected.css';





.calendar.day {
    
    margin: 0;
    padding: 0;
}

.calendar-day {
    display: grid;
    grid-template-columns: auto repeat(1, 1fr);
    min-block-size: 700px;
    grid-template-rows: 7rem repeat(25, minmax(var(--minBlockSize), var(--maxBlockSize)));
    color: var(--gray20);
    padding-inline: 1.5rem;
}



/*


<div class="timezoneCell">GMT-5</div><!-- time Zone Cell -->
        </div>

        <h2 class="calendar-day-details">
            <a href="" aria-label="Sunday 02 of January">
                <time datetime="2022-01-02">
                    <span>SUN</span> <br>
                    <span>2</span>
                </time>
            </a>
        </h2>
 */