.task-day {
    background: var(--blue10);
    color: var(--white);
    font: var(--body2-medium);
    border-radius: .25rem;
    padding-inline: 1rem;
    padding-block: .625rem;

    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.task-day p {
    margin: 0;
}

